/* Variables:
  ========================================================================== */

// font
$font: 'Montserrat', sans-serif;

// colors
$creme: #ffe1bd;
$black: black;
$grayText: #656565;
$grayNav: #989898;
$grayBorder: #d8d8d8;
$white: white;

$grayTextForm: #999999;
$grayBorderForm: #333333;

$grayLine: #8e8e8e;
